### 1. 数と計算

変数width（幅）とheight（高さ） を宣言して、
適切な値を与え、面積を計算する。

### 2. 文字列

文字列を定義して、自分の名前を画面に出力する。

### 3. リスト型

以下のリストを利用する。<br/>
インデックスを利用して、最初のアイテムと最後のアイテムを画面に出力する。

### 4. リストの操作

4.1 リストoddsを[3、5、7]にスライスする。

4.2 上記リストとリスト[ 2 , 4 , 6 , 8 , 10 ]の合計値を計算する。

### 5. 文字リスト

以下のリストdataを利用する。<br/>
append()関数を使用して、文字列' jkl 'をデータの末尾に追加して画面に出力する。

### 6. if文

任意整数値の変数を定義する。<br/>
この数値が正か負かを判別する。
負の場合は、「negative」を出力します。 正の場合は、「positive」を出力します。 ゼロの場合、「zero」を出力する。

### 7. for 文

以下のリストwordsを利用する。<br/>
各単語の文字数を出力する。<br/>
出力例は以下の通りだ。<br/>
muroran 7

### 8. while 文

以下のリストwordsを利用する。<br/>
whileループを使って、全ての単語を出力する。

### 9. range() 関数

range ()関数を使用して、5から11までのシーケンスを生成する。

### 10. 関数を定義する

「my_func」という名前の関数を定義し、この関数を呼び出して自分の名前を出力する。

### 11. デフォルトの引数値

上記の関数を使用します。<br/>
デフォルト引数を自分の名前として設定する。<br/>
他の文字列を渡す場合、この文字列を出力する。<br/>

### 12. 戻り値

2つの数値の合計を計算する関数を定義する。<br/>
合計を他の変数に返す。<br/>
出力例は以下の通りだ。<br/>
res = my_sum(5, 10)<br/>
print(res) >>> 15

### 13. セット

"apple","cherry" などの果物を含むセットを作成する。<br/>

### 14. セットの要素を追加および削除する
14.1 上記のセットに自分の名前を新しい要素として追加します。 セットを出力する。<br/>
14.2 セットから自分の名前を削除します。 セットを出力する。

### 15. 2つのセットを結合する
上記の果物セットと他のセットevens ={ 2 , 8 , 16 }を使う。<br/>
union()関数を使用して、結合されたセットを出力する。

### 16. 練習1

1から100までの合計を計算する。

### 17. 練習2

一つ目のパラメータから二つ目のパラメータまでの合計を計算する関数を定義して、結果を返す。

### 18. 練習3

以下の２つのセットを利用して、答えを受け取る関数を定義する。<br/>
答えがset_okにある場合は、Trueを返す。<br/>
答えがset_noにある場合は、Falseを返す。<br/>
それ以外の場合は、「answer format is incorrect」と出力して、Falseを返す。